body{
    background-color: rgb(233 223 255);
    font-family: 'Open Sans';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px;
    color: rgb(44 44 44);
}
h1{
    color:rgb(81, 43,156 );
}
.container{
    background-color: white;
    width: 100%;
    max-width: 900px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding: 0 64px 64px 64px;
    position: relative;
}
.tabs{
    display: flex;
    width: 100%;
    justify-content: space-around;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(200 175 255);
    padding: 16px;
}
.tabs p{
    padding: 8px;
}
.tabs p:hover{
    color: rgb(83 59 156);
    cursor: pointer;
}
.tabs p.active{
    color: rgb(83, 59,156 );
    position: relative;
}
.line{
    height: 3px;
    width: 100%;
    background-color: rgb(231 231 231);
    position: absolute;
    top: 98px;
}
.tabs p.active::before{
    content: "";
    width: 200%;
    height: 4px;
    background-color: rgb(83 49 156);
    position: absolute;
    bottom: -32px;
    z-index: 2;
    left: -50%;
    border-radius: 10px;
}
.toggole{
    display: flex;
    margin-top: 32px;
}
.toggole img{
    height: 40px;
    margin: 0 16px;
}
.toggole-text{
    background-color: rgb(81, 43,156 );
    height: 32px;
    width: 140px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4px 0 16px;
    box-sizing: border-box;
}
.toggole-text span:first-of-type{
    color: white;
}
.toggole-text span:last-of-type{
    color: rgb(81, 43,156 );
    background-color: white;
    padding: 4px 16px;
    border-radius: 20px;
}
.sessions-card{
    background-color: rgb(250 247 255);
    text-align: center;
    padding: 32px;
    width: 50%;
    text-transform: uppercase;
    margin-top: 32px;
    border-radius: 10px;
    margin:16px 0 0 0;

}
.sessions-card p{
    color: rgb(44 44 44);
    font-size: 12px;
    font-weight: bold;
}
.sessions-card .num{
    color: rgb(83, 59,156 );
    font-size: 53px;
    margin: 0;
}
.description{
    line-height: 32px;
    margin: 16px 0 32px 0;
}
.slider{
    width: 100%;
    position: relative;
}
.slider .bar{
    width: 100%;
    height: 16px;
    background-color: rgb(248 248 248);
    border: 1px solid rgb(210 210 210);
    border-radius: 20px;
}
.slider .progress{
    width: 31%;
    height: 18px;
    background: linear-gradient(90deg,
    rgba(2,0,36,1) 0%,
    rgba(53,10,74,1) 36%,
    rgba(83,49,156,1) 100%);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
}
.slider .point{
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: rgb(83 49 156);
    position: absolute;
    left: 29%;
    top: -4.5px;
    border: 2px solid white;
    transition: 0.15s transform ease;
}
.slider .point:hover{
    transform: scale(1.2);
    cursor: pointer;

}
.slider .scale{
    width: 100%;
}
.slider .scale ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    font-weight: bold;
    color: rgb(166 166 166);
}
.card-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
}
.card{
    background-color: rgb(250,247,255);
    text-align: center;
    font-weight: bold;
    color: rgb(83 49 156);
    margin: 16px;
    padding: 16px 32px;
    box-shadow: 0px 3px 11px 1px rgba(0,0,0,0.1);
    transition: 0.15s transform ease;
    position: relative;
}
.card:hover{
    transform: translateY(-8px);
}
.top-section{
    padding: 8px;
    text-transform: uppercase;

}
.card .top-section p{
    margin: 4px 0;
}
.top-section .price{
    font-size: 42px;
    color: rgb(44 44 44);
}
.card hr{
    width: 30%;
    color: rgb(210 210 210);
    border-radius: 2px;
}
.card button{
    border: none;
    color: white;
    background-color: rgb(83 49 156);
    padding: 16px;
    border-radius: 10px;
    transition: 0.15s transform ease;
    font-weight: bold;
    margin: 8px 0;
}
.card button:hover{
    scale: 1.05;
    cursor: pointer;
}
.card .save{
    color: white;
    background: linear-gradient(90deg,
    rgba(2,0,36,1) 0%,
    rgba(53,10,74,1) 36%,
    rgba(83,49,156,1) 100%);
    position: absolute;
    top: -24px;
    left: 0;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}